/* * {outline:1px solid;} */


#Header .container {height:500px;overflow:hidden;}
#Header video {width:100%;}

#Header .main {width:1200px;position:absolute;top:200px;left:51%;transform:translateX(-50%);}

#Header .txt {position:absolute;top:200px;left:50%;transform:translateX(-90%);}
#Header .txt h2 {font-size:30px;font-weight:700px;color:#fff;padding:30px 0;}
#Header .txt p {font-size:16px;font-weight:500px;color:#fff;padding:0 0 30px 0;}
#Header .txt a {display:inline-block;border:1px solid #fff;padding:20px 15px;color:#fff;font-size:14px;font-weight:100;}


#Header nav {display:flex;width:1200px;position:absolute;top:50px;left:50%;color:#fff;transform:translateX(-50%)}
#Header nav>ul {display:flex;}
#Header nav>ul>a {padding:0 15px;}
#Header nav>ul>li {padding:0 15px;}
#Header nav>ul:last-child {margin-left:auto;}

#content01 {padding:20px 0 100px 0;background:#fffef2;}
#content01 .main_slider {width:1200px;margin:0 auto;display:flex;}
#content01 .main_slider figure {padding:0 15px;}
#content01 .main_slider figure img {width:100%;}

#content01 .main_slider h3 {display:block;font-size:inherit;font-weight:300;line-height:30px;text-align:center;color:#333}
#content01 .main_slider p {display:block;font-size:inherit;font-weight:300;text-align:center;color:#333}

#content01 .main_slider .slick-dots {position:absolute; bottom:30;transform:translateX(80%); transform:translateY(2800%);}
#content01 .main_slider .slick-dots li{display:inline-block; width:400px; height:3px; background:#cccbc2;margin:0 0;position:relative;}
#content01 .main_slider .slick-dots li.slick-active {background:#52514e;}
#content01 .main_slider .slick-dots li button {display:none;}


#content01 .slide_bar {margin:0 auto;width:1200px;height:3px;background:#cccbc2;position:relative;overflow:hidden;top:30px;}
#content01 .slide_bar span {position:absolute;top:0;left:0;width:33.3333333%;height:100%;background:#52514e;}

#content02 {padding:100px 0;background:#fffef2;}
#content02 .container {display:flex;width:100%;}
#content02 .container video {width:100%;padding:0 0 0 970px;}

#content02 .txt {width:1200px;position:absolute;left:50%;transform:translateX(-50%);color:#333}
#content02 .txt h2 {font-size:inherit;font-weight:300;padding:0 0 30px 0;}
#content02 .txt h3 {font-size:30px;font-weight:700px;padding:0 0 50px 0;}
#content02 .txt p {font-size:inherit;font-weight:300px;padding:0 0 30px 0;line-height:20px;}
#content02 .txt a {display:inline-block;border:1px solid #cccbc2;padding:20px 15px;font-size:14px;font-weight:300;}



#content03 {padding:100px 0;background:#fffef2;}
#content03 .container {display:flex;width:100%;}
#content03 .container img {width:100%;;padding:0 960px 0 0;}

#content03 .txt {width:600px;position:absolute;right:230px;color:#333}
#content03 .txt h2 {font-size:30px;font-weight:700px;padding:0 0 50px 0;}
#content03 .txt p {font-size:inherit;font-weight:300px;padding:0 0 30px 0;line-height:20px;}
#content03 .txt a {display:inline-block;border:1px solid #cccbc2;padding:20px 15px;font-size:14px;font-weight:300;}


#content04 {padding:100px 0 200px 0;background:#fffef2;position:relative;}
#content04 .container {display: flex;}
#content04 .container>div {flex:1;padding:0 0;overflow:hidden;}
#content04 .container img {width:100%;}

#content04 .txt {left:20%;transform:translateX(37%)}
#content04 .txt h2 {font-size:30px;font-weight:700px;padding:0 0 50px 0;}
#content04 .txt p {font-size:inherit;font-weight:300px;padding:0 0 30px 0;line-height:20px;}
#content04 .txt a {display:inline-block;border:1px solid #cccbc2;padding:20px 15px;font-size:14px;font-weight:300;}



#content04 .arw i {position:absolute;top:50%;left:50%;color:#fffef2;transform:translate(-50%,-90%);font-size:40px;
border:20px solid #333333;background:#333333;}
#content04 .arw i.xi-angle-left-thin {margin-left:40px;}
#content04 .arw i.xi-angle-right-thin {margin-left:910px;}


#content04 .container .slick-dots {position:absolute; bottom:-30px; left:70%; transform:translateX(-30%); }
#content04 .container .slick-dots li{display:inline-block; width:280px; height:3px; background:#cccbc2;margin:0 0;position:relative;}
#content04 .container .slick-dots li.slick-active {background:#52514e;}
#content04 .container .slick-dots li button {display:none;}

#content04 .slide_bar02 {margin:0 950px;width:950px;height:3px;background:#cccbc2;position:relative;overflow:hidden;top:30px;}
#content04 .slide_bar02 span {position:absolute;top:0;left:0;width:50%;height:100%;background:#52514e;transition: 0.05s;}

footer {padding:50px 0;background:#252525;text-align:center;color:#fffef2;}
